<%- include('partials/header.ejs'); %>
<body>
<%- include('partials/navbar.ejs'); %>
    <a href="/questions">
        <h1>Criar Pergunta</h1>
    </a>
    <a href="/pickQuestion">Responda uma Pergunta</a>
   </div >
</body>
<%- include('partials/scripts.ejs'); %>
